Flask>=2.2.2
Python>=3.9.11
gunicorn>=19.9.0
itsdangerous==1.1.0
Jinja2>=3.0.1
MarkupSafe==1.1.1
Werkzeug==2.2.1
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
h5py>=2.10.0
tensorflow>=2.0.0
Keras-Preprocessing>=1.1.2
tensorflow-cpu >= 2.5.0
Keras>=2.1.5
