<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SKIN DISEASES RECOGNITION AND REPORT GENERATING APPLICATION</title>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main>
  <div class = "card">
    <img src="/static/images/start page2.png" alt="">
    <div class="card-content">
      <h2>
        How to Use
      </h2>
      <p>
        * Go to Dashboard<br>
        * Click on Detect Diseases.<br>
        * Give all required details before detecting diseases.<br>
        * Upload the image file of your disease.<br>
        * Click to Genrate report.<br>

      </p>
      <a class="btn" href="our_services">Learn  more</a>
    </div>
  </div>
</main>
<!-- partial -->
  
</body>
</html>
