<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SKIN DISEASES RECOGNITION AND REPORT GENERATING APPLICATION</title>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main>
  <div class = "card">
    <img src="/static/images/user_histrory_icon.png" alt="">
    <div class="card-content">
      <h2>
       Our Services
      </h2>
      <p>
        * Get Treament about your skin diseases<br>
        * near by hospital on map.<br>
        * Blog on Skin care<br>
        *  User Histroy.<br>
        *  It's Virtual Hospital On Your Hand.<br>

      </p>
      <a class="btn" href="dashboard">Learn  more</a>
    </div>
  </div>
</main>
<!-- partial -->
  
</body>
</html>
