<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SKIN DISEASES RECOGNITION AND REPORT GENERATING APPLICATION</title>
  <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main>
  <div class = "card">
    <img src="/static/images/start page1.png" alt="">
    <div class="card-content">
      <h2> Welcome </h2>
      <p> * Skin is an extraordinary human structure.It frequently suffered from many known and unknown disease.
        <br>* So we  develop android application that  will detect the 13 common skin diseases and report generating application.</p>
      <a class="btn" href="how_to_use">Learn  more </a>
    </div>
  </div>
</main>
<!-- partial -->
  
</body>
</html>
